<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-user-profile-heading"
        data-cy="UserProfileCreateUpdateHeading"
        jhiTranslate="habitForgeApp.userProfile.home.createOrEditLabel"
      >
        Create or edit a User Profile
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.userProfile.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.userProfile.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.userProfile.userStreak" for="field_userStreak">User Streak</label>
          <input
            type="number"
            class="form-control"
            name="userStreak"
            id="field_userStreak"
            data-cy="userStreak"
            formControlName="userStreak"
          />
          <div *ngIf="editForm.get('userStreak')!.invalid && (editForm.get('userStreak')!.dirty || editForm.get('userStreak')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('userStreak')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('userStreak')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.userProfile.activityLevel" for="field_activityLevel">Activity Level</label>
          <select
            class="form-control"
            name="activityLevel"
            formControlName="activityLevel"
            id="field_activityLevel"
            data-cy="activityLevel"
          >
            <option [ngValue]="null">{{ 'habitForgeApp.ActivityLevel.null' | translate }}</option>
            <option *ngFor="let activityLevel of activityLevelValues" [value]="activityLevel">
              {{ 'habitForgeApp.ActivityLevel.' + activityLevel | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.userProfile.diet" for="field_diet">Diet</label>
          <select class="form-control" name="diet" formControlName="diet" id="field_diet" data-cy="diet">
            <option [ngValue]="null">{{ 'habitForgeApp.Diet.null' | translate }}</option>
            <option *ngFor="let diet of dietValues" [value]="diet">{{ 'habitForgeApp.Diet.' + diet | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.userProfile.cooks" for="field_cooks">Cooks</label>
          <input type="checkbox" class="form-check" name="cooks" id="field_cooks" data-cy="cooks" formControlName="cooks" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.userProfile.drives" for="field_drives">Drives</label>
          <input type="checkbox" class="form-check" name="drives" id="field_drives" data-cy="drives" formControlName="drives" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.userProfile.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
