<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-task-heading" data-cy="TaskCreateUpdateHeading" jhiTranslate="habitForgeApp.task.home.createOrEditLabel">
        Create or edit a Task
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.task.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.task.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.task.startDate" for="field_startDate">Start Date</label>
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
            />
            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.task.streak" for="field_streak">Streak</label>
          <input type="number" class="form-control" name="streak" id="field_streak" data-cy="streak" formControlName="streak" />
          <div *ngIf="editForm.get('streak')!.invalid && (editForm.get('streak')!.dirty || editForm.get('streak')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('streak')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('streak')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.task.targetStreak" for="field_targetStreak">Target Streak</label>
          <input
            type="number"
            class="form-control"
            name="targetStreak"
            id="field_targetStreak"
            data-cy="targetStreak"
            formControlName="targetStreak"
          />
          <div
            *ngIf="editForm.get('targetStreak')!.invalid && (editForm.get('targetStreak')!.dirty || editForm.get('targetStreak')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('targetStreak')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('targetStreak')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="habitForgeApp.task.userProfile" for="field_userProfile">User Profile</label>
          <select
            class="form-control"
            id="field_userProfile"
            data-cy="userProfile"
            name="userProfile"
            formControlName="userProfile"
            [compareWith]="compareUserProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userProfileOption" *ngFor="let userProfileOption of userProfilesSharedCollection">
              {{ userProfileOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
